/** @format */

body {
    font-size: 3rem;
}

.itm {
    background-color: aquamarine;
    /* width: 100%; */
}

.itm:nth-child(odd) {
    background-color: indianred;
}

.contain {
    margin-top: 2rem;
}
.contain.flex {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-flow: row wrap;
}
.contain.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
