/** @format */

body {
    background-color: #000;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Splash', cursive;
}
hr {
    margin: 3rem;
}
h1 {
    color: #fff;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 16px;
}
h2 {
    font-size: 1.5rem;
    border-bottom: 1px solid #000;
    font-weight: bold;
}
