/** @format */
// $primary-color: #1a1f71;
$primary-color: #28231d;
// $complimentary-color: #fbaf41;
$complimentary-color: #f9d342;
$contrast-color: yellow;
$base01-color: lightGray;
$base02-color: lightblue;
$ghost: transparent;

body {
    // background-color: $primary-color;
    color: $base01-color;
}
// .wrapper {}
.wrapper {
    width: 90%;
    margin: auto;
}
ul {
    list-style: none;
}
.en {
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-size: 2rem;
    font-weight: 900;
}
header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav {
    ul {
        display: flex;
        gap: 3rem;
        font-size: 1.2rem;
        font-weight: 400;
        a {
            padding: 8px 16px;
            &:not(.cta):hover {
                color: $complimentary-color;
                border-bottom: 2px solid $complimentary-color;
            }
        }
        .cta {
            background-color: $complimentary-color;
            color: $primary-color;
            font-weight: 700;
        }
    }
}

.btn {
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    &:hover {
        color: rgb(255, 0, 0);
    }
}
.btn-sm {
    padding: 0.1em 1em;
    font-size: 0.8rem;
}
.btn-md {
    padding: 0.2em 1.5em;
    font-size: 1rem;
}
.btn-lg {
    padding: 0.2em 1.8em;
    font-size: 1.2rem;
}
.primary {
    background-color: $complimentary-color;
    color: $primary-color;
}
.secondary {
    background-color: $ghost;
    border: 1px solid $primary-color;
    color: $primary-color;
}
.tertiary {
    background-color: $ghost;
    color: $primary-color;
}
.hero {
    padding-top: 150px;
    text-align: center;

    h1 {
        font-family: 'Splash', cursive;
        color: $primary-color;
        text-align: center;
        font-size: 8rem;
        margin-bottom: 16px;
    }

    p {
        font-size: 1.2rem;
        padding-bottom: 3em;
    }
    .cta {
        display: inline-block;
        margin-bottom: 100px;
    }
}
h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 30px;
}
#about {
    background: $primary-color;
    color: $complimentary-color;
    padding-bottom: 80px;
    .col-2 {
        display: grid;

        // align-content: center;
        gap: 2rem;
    }
    h2 {
    }
    p {
        padding: 2rem;
        // background-color: #999;
        display: inline;
        min-width: 300px;
        max-width: 100%;
        flex: 1;
    }
}
#portfolio {
    padding-top: 30px;
    padding-bottom: 80px;
    .flex-box {
        display: flex;
        flex-flow: row wrap;
    }
    .itm {
        width: 300px;
        border: 1px solid red;
    }
}

.card-group {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    border: 1px solid red;
    justify-content: center;

    .card {
        max-width: 400px;
        min-width: 200px;
        border: 1px solid #999;
        border-radius: 8px;
        // overflow: hidden;
        display: flex;
        flex-direction: column;
        h3 {
            order: 2;
            padding: 1rem;
            font-size: 2rem;
            font-weight: 700;
            color: #000;
        }
        img {
            order: 1;
            width: 100%;
            height: 10rem;
        }
        p {
            // border: 1px solid red;
            order: 3;
            padding: 16px;
            margin-bottom: 1rem;
            width: 100%;
            // height: 4rem;
            // white-space: wrap;
            // // white-space: normal;
            // display: -webkit-box;
            // -webkit-line-clamp: 2;
            // -webkit-box-orient: vertical;
            // text-overflow: ellipsis;
            // overflow: hidden;
        }
        .btn-group {
            border-top: 1px solid #ddd;
            padding: 8px 16px;
            order: 4;
            float: right;
            display: flex;
            justify-content: end;
        }
    }
}
#features {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: aqua;
    h2 {
        font-size: 4rem;
    }
    p {
        font-size: 1.3rem;
        width: 80%;
        margin: auto;
        text-align: center;
        display: block;
    }
}
#contact {
    padding-top: 30px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 3fr;

    h2 {
        grid-row: 1;
        grid-column: 1/2;
    }
    p {
        margin-bottom: 30px;
    }
}
#partners {
    padding-top: 30px;
    padding-bottom: 80px;
    .grid {
        display: grid;
        justify-items: center;
        grid-gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    img {
        width: 200px;
    }
}

header,
footer {
    background-color: $primary-color;
    padding-top: 30px;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }
}

footer .footer-nav {
    display: flex;
    flex-wrap: wrap;
    ul {
        width: 150px;
    }
}
.sns {
    display: flex;
    gap: 0.5rem;
}

// @font-face {
//     font-family: 'Roboto', sans-serif;
//     src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');
//     unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3,
//         U+D7B0-D7FF;
// }
// @font-face {
//     font-family: 'Noto Sans KR', sans-serif;
//     src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700;900&display=swap');
//     unicode-range: U+0041-005A, U+0061-007A;
// }
// @font-face {
//     font-family: 숫자;
//     src: url();
//     unicode-range: U+0030-0039;
// }
