.btn {
    display: inline-block;
    background-color: #e8e8e8;
    border-radius: 4px;
}
.btn.sm {
    padding: 0 1rem;
    margin-top: 24px;
}
.btn.md {
    padding: 0 1.3rem;
    font-size: 1.2rem;
    margin-top: 24px;
}
.btn.lg {
    padding: 0 2rem;
    font-size: 1.5rem;
    margin-top: 24px;
}
.btn.primary {
    background-color: #579bb1;
    color: #fafafa;
}
.btn.secondary {
    background-color: transparent;
    border: 1px solid #579bb1;
    color: #579bb1;
}
.btn.tertiary {
    background-color: transparent;
    color: #579bb1;
    padding-left: 0;
}
