.card {
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid #ece8dd;
    overflow: hidden;
    height: 100%;
}
.card:hover {
    transition: 500ms;
    border: 1px solid #2ca8b2;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
}
.card img {
    width: 100%;
    object-fit: cover;
}
.card-body {
    padding: 16px;
}
.card-footer {
    width: 100%;
    height: 50px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 -1px 0 0 #e8e8e8;
}
.card .tag {
    background-color: rgba(223, 163, 0, 0.356);
    border: 1px solid rgba(223, 163, 0, 1);
}
.card .date {
    font-size: 0.9rem;
}
