.cta {
    display: inline-block;
}
.cta a {
    padding: 0 16px;
    background-color: #579bb1;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2;
    color: #fff;
    display: flex;
    align-items: center;
}
.cta a:hover {
    text-decoration: none;
    box-shadow: 4px 4px 4px rgba(44, 168, 178, 0.1);
    background-color: #2ca8b2;
}
.cta a.ghost {
    background-color: #fff;
    border: 1px solid #579bb1;
    color: #579bb1;
}
.cta a.ghost:hover {
    box-shadow: 4px 4px 4px rgba(44, 168, 178, 0.1);
    background-color: #2ca8b2;
    color: #fff;
}
.hero {
    padding: 200px 0;
}
.hero-title {
    font-size: 3.5rem;
    line-height: 1;
    margin-bottom: 8px;
}
.hero-title em {
    font-weight: 900;
    color: #579bb1;
}
.sub-title {
    margin-bottom: 64px;
    font-size: 1.2rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 16px;
}
section {
    margin-bottom: 64px;
}

main .wrapper:nth-child(even) {
    background-color: #fafafa;
}
