.info {
    font-size: 0.8rem;
}
.text-wrap {
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: inherit;
    height: 5rem;
}
.tag {
    padding: 0 1em;
    border-radius: 20px;
    font-size: 0.9em;
}
i.material-icons-round {
    margin-left: 8px;
}
.en {
    font-family: 'Roboto', sans-serif;
}
.kr {
    font-family: 'Noto Sans KR', sans-serif;
}
